// Util imports
@import './utils/maps';
@import './utils/mixins';
@import './utils/colours';

// Component imports
@import './views/app';
@import './views/channel';
@import './views/forum';
@import './views/guild';
@import './views/home';
@import './views/settings';

// To organize:

// Guild member list panel
.container-2o3qEW {
  background: transparent;
}
.members-3WRCEx {
  padding-bottom: 32px;
  &.thin-31rlnD {
    &.scrollerBase-_bVAAt {
      &.fade-1R6FHN {
        margin-right: 10px;
        margin-bottom: 10px;
        @include border-radius('all', 'large');
      }
    }
  }
}
.membersWrap-3NUR2t {
  &.hiddenMembers-8kpYM0 {
    background-color: var(--background-tertiary);
  }
}
.layout-2DM8Md {
  @include border-radius('all', 'medium');
}
.botTag-2mryIa,
.botTag-7aX5WZ {
  margin-left: 6px;
  &.botTagRegular-kpctgU {
    background-color: #{$color-accent};
    color: #{$color-text--dark};
  }
}
.membersGroup-2eiWxl {
  &.container-q97qHp {
    padding-bottom: 24px;
  }
}
.member-2gU6Ar {
  &.container-1oeRFJ {
    &:hover,
    &.selected-1-Z6gm {
      > .layout-1qmrhw {
        background-color: #{$color-hover--lighter};
        @include border-radius('all', 'medium');
      }
    }
  }
}
.bannerPlaceholder-edbQI2 {
  @include border-radius('all', 'large');
  margin-left: 5px;
}

// User area panels
.panels-3wFtMD {
  background-color: transparent;
  transform: translate(10px, -22px);
  position: absolute;
  bottom: 0;
  width: 220px;
  @include border-radius('all', 'large');
  > .container-YkUktl {
    @include border-radius('all', 'large');
    @include box-shadow($color-hover, 'large', 0.4);
    background-color: var(--background-tertiary);
    height: 44px;
    > div > button {
      background-color: transparent !important;
      &:nth-of-type(3n+1),
      &:nth-of-type(3n+2) {
        &:hover {
          > div > svg > path,
          > div > svg > svg > path {
            fill: #{$color-red};
          }
        }
      }
      &:nth-of-type(3n+3) {
        &:hover {
          > div > svg > path {
            fill: var(--text-secondary);
          }
        }
      }
    }
  }

  // Stream / screenshare panel
  > .panel-2ZFCRb {
    &.activityPanel-9icbyU {
      background-color: var(--background-tertiary);
      @include border-radius('all', 'large');
      @include box-shadow($color-hover, 'medium', 1);
      margin-bottom: 6px;
      &,
      > .body-1FrnJD > .actions-zk2vB_ > button:hover > div > svg > path {
        fill: #{$color-red} !important;
      }
      > .body-1FrnJD > .actions-zk2vB_ > button:hover {
        background-color: transparent !important;
      }
    }
  }

  // Voice channel panel
  .container-1zzFcN {
    background-color: var(--background-tertiary);
    border: none;
    margin-bottom: 6px;
    @include border-radius('all', 'large');
    @include box-shadow($color-hover, 'small', 1);
  }
}

// Status menu
.item-1tOPte {
  &:hover {
    background-color: var(--background-tertiary);
  }
}

// Status popup
.animatorTop-3ltI52 {
  &.fade-1ICjW8 {
    &.didRender-2SiRlm {
      background-color: transparent !important;
    }
  }
}
.menu-1QACrS {
  &.styleFixed-2_NfVL {
    &.menu-1AgizY {
      @include border-radius('all', 'large');
      background-color: var(--background-quaternary);
      transform: translate(-8px, -6px) !important;
      @include box-shadow($color-hover, 'medium', 1);
      width: 220px !important;
    }
  }
}
.item-1OdjEX {
  &.colorDefault-CDqZdO {
    &.focused-3qFvc8 {
      background-color: #{$color-hover--lighter};
      @include border-radius('all', 'medium');
    }
    &[role='menuitemcheckbox'] {
      &[aria-checked='true'] {
        .checkbox-hADx5o {
          color: #{$color-accent};
        }
        .check-3HZJs4 {
          color: var(--text-dark);
        }
      }
    }
  }

  // Server settings pane list
  &.labelContainer-2vJzYL {
    &.colorBrand-3cPPsm,
    &.colorDanger-3n-KnP {
      &.colorDefault-CDqZdO {
        > div > svg > path,
        &.focused-3qFvc8 > div > svg > path {
          fill: var(--text-normal);
        }
        > div,
        &.focused-3qFvc8 > div {
          color: var(--text-normal);
        }
      }
    }
    &.colorDanger-3n-KnP {
      &.colorDefault-CDqZdO {
        > div > svg > path {
          fill: #{$color-red};
        }
        > div {
          color: #{$color-red};
        }
      }
    }
  }
}

// Server call UI
.root-2f-lk1 {
  background-color: var(--background-tertiary);
  .videoControls-353CsJ {
    > .topControls-23RE3h {
      &.controlSection-1mNixL {
        margin-top: 0 !important;
        padding-top: 10px !important;
        > div > .headerWrapper-1ULEPv > section {
          background-color: transparent !important;
        }
      }
    }
  }
  .rightTrayIcon-1m3hnG {
    &.button-f2h6uQ {
      &.lookBlank-21BCro {
        &.colorBrand-I6CyqQ {
          background-color: transparent;
        }
      }
    }
  }
  .volumeButton-3IDSX- {
    margin: 16px;
    padding-left: 2px;
  }
  .container-1zzFcN {
    background-color: var(--background-tertiary);
    margin-bottom: 6px;
    @include box-shadow($color-hover, 'medium', 1);
    @include border-radius('all', 'large');
  }
}
.root-22AK9z {
  .topControls-23RE3h {
    margin-top: 6px;
  }
  &.idle-39sGPO {
    .topControls-23RE3h {
      opacity: 1 !important;
      transform: unset !important;
      -webkit-transform: unset !important;
    }
    .chatButton-10jXXp:not(.chatButtonShowing-1aD1ch) {
      opacity: 1 !important;
      transform: unset !important;
      -webkit-transform: unset !important;
    }
  }
}

// Call buttons
.connection-3k9QeF {
  > div {
    > .button-f2h6uQ.lookBlank-21BCro.colorBrand-I6CyqQ {
      &:hover {
        background-color: transparent;
        > div > svg > path {
          fill: var(--text-secondary);
        }
      }
      &[aria-label='Disconnect'] {
        &:hover {
          > div > svg > path {
            fill: #{$color-red} !important;
          }
        }
      }
    }
  }
}

// VIDEO / STREAM BUTTONS
.actionButtons-2vEOUh {
  > .button-1EGGcP.button-f2h6uQ.lookFilled-yCfaCM.sizeSmall-wU2dO-.grow-2sR_-F.button-1EGGcP {
    background-color: #{$color-hover--lighter} !important;
    @include box-shadow($color-hover, 'small', 1);
    > div {
      &,
      > div,
      > svg {
        color: var(--text-normal) !important;
      }
    }
    &:hover {
      @include box-shadow($color-green, 'small', 0.8);
      background-color: #{$color-green} !important;
      > div {
        &,
        > div,
        > svg {
          color: var(--text-dark) !important;
        }
      }
    }
  }
}

// Stream preview popout
.streamPreviewWrapper-rIrOy5.mounted-2LsfHh {
  padding-left: 0 !important;
}

// Activity preview popout
.animatorRight-xAUgTY.translate-PeW1wK.didRender-2SiRlm > .container-8Futzw.thin-31rlnD.scrollerBase-_bVAAt {
  margin-left: 0 !important;
}

// Spotify listening-along ui
.listeningAlong-6YvYsc {
  @include border-radius('all', 'large');
  background-color: var(--background-tertiary);
  @include box-shadow($color-hover, 'medium', 1);
  margin-bottom: 6px;
}

// Notice region popups
.noticeRegion-qjyUVg {
  .container-20TyK0 {
    @include border-radius('all', 'large');
    @include box-shadow($color-hover, 'medium', 1);
    background-color: var(--background-quaternary) !important;
    padding: 12px 12px 12px 18px;
    .lookFilled-yCfaCM.colorGreen-3y-Z79 {
      background-color: #{$color-accent};
      color: var(--text-dark);
      &:hover {
        @include box-shadow($color-accent, 'medium', 1);
      }
    }
  }
}

// BUTTONS
.fieldButton-14lHvK,
.lookOutlined-3yKVGo,
.lookFilled-yCfaCM {
  transition:
    box-shadow 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
    background-color 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
    color 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// Field buttons
.fieldButton-14lHvK {
  &.button-f2h6uQ {
    &.lookFilled-yCfaCM {
      &.colorPrimary-2AuQVo,
      &.colorGrey-2iAG-B {
        background-color: #{$color-hover} !important;
        color: var(--text-normal) !important;
        @include box-shadow($color-hover--darker, 'small', 0.25);
        &:hover {
          background-color: #{$color-hover--lighter} !important;
          @include box-shadow($color-hover--lighter, 'small', 1);
        }
      }
    }
  }
}

// LookOutlined
.lookOutlined-3yKVGo {

  // White
  &.colorWhite-1H92hK {
    border-color: var(--text-normal);
    &:hover {
      background-color: var(--text-normal);
      color: var(--text-dark);
    }
  }

  // Red
  &.colorRed-rQXKgM {
    border-color: #{$color-red} !important;
    color: var(--text-normal) !important;
    @include box-shadow($color-hover, 'small', 0.6);
    &:hover {
      border-color: #{$color-red--lighter} !important;
      background-color: #{$color-red--lighter} !important;
      color: var(--text-dark) !important;
      @include box-shadow($color-red--lighter, 'small', 1);
    }
  }
}

// LookFilled
.lookFilled-yCfaCM {

  // Default
  background-color: #{$color-hover--darker};
  &:hover {
    @include box-shadow($color-hover--lighter, 'medium', 1);
    background-color: #{$color-hover--lighter};
  }

  // ColorBrand
  &.colorBrand-I6CyqQ {
    background-color: #{$color-accent} !important;
    color: var(--text-dark) !important;
    @include box-shadow($color-hover, 'small', 0.6);
    &:hover {
      background-color: #{$color-accent} !important;
      color: var(--text-dark) !important;
      @include box-shadow($color-accent, 'small', 1);
    }
  }

  // Grey
  &.colorGrey-2iAG-B {
    background-color: #{$color-hover--darker} !important;
    @include box-shadow($color-hover, 'small', 0.6);
    &:hover {
      background-color: #{$color-hover--lighter} !important;
      @include box-shadow($color-hover--lighter, 'small', 1);
    }
  }

  // Red
  &.colorRed-rQXKgM {
    background-color: #{$color-red} !important;
    color: var(--text-dark) !important;
    @include box-shadow($color-hover, 'small', 0.6);
    &:hover {
      background-color: #{$color-red--lighter} !important;
      color: var(--text-dark) !important;
      @include box-shadow($color-red--lighter, 'small', 1);
    }
  }
}

// Looklink
.lookLink-9FtZy- {
  background-color: transparent !important;
  &:hover {
    background-color: transparent !important;
  }
  &.contents-1UYEBX {
    color: transparent !important;
  }
}

// Lookblank
button.lookBlank-3eh9lL {
  background-color: transparent !important;
  &:hover {
    background-color: transparent !important;
    > div > div {
      color: #{$color-accent} !important;
    }
  }
}
.button-1YfofB {
  background-color: var(--background-primary) !important;
  &:hover {
    background-color: #{$color-green} !important;
  }
}
.button-f2h6uQ:not(.participantsButton-2BYCUL):not(.centerButton-3CaNcJ):not(.chatButton-10jXXp),
.phoneField-38N1bJ .countryButton-3xq3Ts,
.button-2DhvE9,
.button-gP4R86,
.questionMark-3qBhGj,
.optionBox-1b4n4P {
  @include border-radius('all', 'medium');
}
.button-f2h6uQ {
  &.button-1YfofB {
    background-color: var(--background-tertiary) !important;
    &:hover {
      background-color: #{$color-green} !important;
      > div {
        color: var(--background-primary) !important;
        > div,
        > div > svg {
          color: var(--background-primary) !important;
        }
      }
    }
  }

  // Color red
  &.colorRed-1TFJan {
    &:hover {
      color: var(--button-destructive) !important;
      > div {
        color: var(--text-dark) !important;
      }
    }
  }
  &.lookFilled-yCfaCM {
    &.colorBrand-3cPPsm {
      background: var(--background-primary);
      &:hover {
        background: #{$color-hover--darker} !important;
        color: var(--text-normal);
      }
    }
  }
}
.colorable-1bkp8v {
  &.red-33-Lnk {
    background: var(--button-destructive);
    &:hover {
      background: var(--button-destructive-hover);
    }
    &:active {
      background: var(--button-destructive-active);
    }
  }
}
.button-2DhvE9,
.button-gP4R86 {
  border-color: transparent !important;
}

// Lookinverted
.lookInverted-2mDUMi {
  > div {
    > span {
      color: #{$color-accent};
    }
    > svg > path {
      fill: #{$color-accent};
    }
  }
}

// Invite fullwidth button
.button-3k0cO7 {
  &.button-f2h6uQ {
    &.lookFilled-yCfaCM {
      &.colorBrand-3cPPsm {
        background: #{$color-hover--darker} !important;
        &:hover {
          background: #{$color-accent} !important;
          > div {
            color: var(--text-dark);
          }
        }
      }
    }
  }
}

// Invite inline
.wrapper-1HIH0j {
  background-color: var(--background-tertiary);
  @include border-radius('all', 'medium');
  > div > .button-2b4VEQ {
    background-color: #{$color-green};
    color: var(--text-dark);
    &:hover {
      background-color: #{$color-green--lighter};
      @include box-shadow($color-green--lighter, 'small', 0.8);
      color: var(--text-dark);
    }
  }
}

// Misc red buttons
.side-8zPYf6 .item-PXvHYJ[aria-controls='logout-tab'],
.lookLink-9FtZy-.colorRed-1TFJan,
.fixed-3zCC84,
.strikethrough-1n4ekb,
.deny-3nAuT6:not(.selected-2YhbGh),
.clearIcon-onVMIA {
  color: var(--button-destructive) !important;
}
.colorDanger-2qLCe1 {
  .checkbox-3s5GYZ,
  .radioSelection-1HmrQS,
  .icon-LYJorE {
    color: var(--button-destructive) !important;
  }
  &:hover,
  &:active:not(.hideInteraction-liH010),
  .checkbox-3s5GYZ:hover,
  .checkbox-3s5GYZ:active,
  .radioSelection-1HmrQS:hover,
  .radioSelection-1HmrQS:active {
    color: var(--button-destructive-hover) !important;
  }
}
.item-PXvHYJ[aria-controls='logout-tab'] {
  &:hover,
  &:active {
    color: var(--button-destructive-hover) !important;
  }
}
.lookLink-9FtZy-.colorRed-1TFJan > div,
.warning-3qyw2h,
.doesNot-36YbF_,
.pruneLink-3V7wes,
.colorDanger-2qLCe1,
.cross-22YsmA,
.error-2_oAXi,
.erroredPill-3HF4Sc {
  color: #{$color-red} !important;
}
.descriptionSection-3RrpaD > div > svg > path,
path[d='M7.02799 0.333252C3.346 0.333252 0.361328 3.31792 0.361328 6.99992C0.361328 10.6819 3.346 13.6666 7.02799 13.6666C10.71 13.6666 13.6947 10.6819 13.6947 6.99992C13.6947 3.31792 10.7093 0.333252 7.02799 0.333252ZM10.166 9.19525L9.22333 10.1379L7.02799 7.94325L4.83266 10.1379L3.89 9.19525L6.08466 6.99992L3.88933 4.80459L4.832 3.86259L7.02733 6.05792L9.22266 3.86259L10.1653 4.80459L7.97066 6.99992L10.166 9.19525Z'] {
  fill: var(--button-destructive);
}

// BD buttons
.bd-button,
.bd-view-button {
  @include border-radius('all', 'medium');
}
.bd-addon-button > svg,
.bd-view-button.selected > svg {
  fill: var(--interactive-selected) !important;
}
.bd-controls {
  > .bd-addon-button {
    &:first-of-type {
      border-radius: var(--border-radius-2) 0 0 var(--border-radius-2);
    }
    &:last-of-type {
      border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;
    }
    &.selected {
      background-color: var(--button-accent);
      color: var(--interactive-selected);
    }
  }
}
.bd-button {
  background-color: var(--button-accent);
  color: var(--interactive-selected);
  &:hover {
    background-color: var(--button-accent-hover);
  }
  &:active {
    background-color: var(--button-accent-active);
  }
}

// Hide nitro gift buttons :)
button[aria-label='Send a gift'],
button[aria-label='Spread some cheer! Gift Nitro in special holiday gift boxes.'] {
  display: none !important;
}

// S08 USER PROFILES
.focusLock-2tveLW {
  &[aria-label='User Profile Modal'] {
    .body-1Ukv50 {
      overflow: scroll !important;
    }
    > .root-8LYsGj.root-g14mjS {
      height: fill-available;
    }
  }
}
.bodyTitle-3FWCs2,
.bodyTitle-1ySSKn,
.footer-1N3bR3,
.protip-2urNh2 {
  display: none;
}
.body-2wLx-E {
  height: calc(100% - 167px);
}
.listRow-2nO1T6 {
  margin: 2px 8px;
  @include border-radius('all', 'large');
}
.root-jbEB5E {
  &.rolesList-3uZoaa {
    margin-top: 0 !important;
  }
}
.bodyInnerWrapper-26fQXj {
  padding: 0 8px 0 0;
}
.lookInverted-2D7oAl {
  .contents-1UYEBX {
    color: var(--interactive-selected);
  }
}
.tabBarContainer-sCZC4w {
  padding: 0 20px !important;
}
.avatar-37jOim,
.avatar-3QF_VA,
.avatarUploaderInner-Oiob_P,
.avatar-1uQSZT {
  border-color: var(--background-tertiary);
}
.avatar-37jOim {
  &:before {
    z-index: -1;
  }
}
.avatar-1uQSZT,
.avatar-37jOim,
.avatar-3QF_VA {
  &:before {
    content: '';
    position: absolute;
    background-color: var(--background-tertiary);
    border-radius: 50%;
  }
}
.avatar-1uQSZT,
.avatar-37jOim {
  &:before {
    width: 28px;
    height: 28px;
    top: 54px;
    left: 54px;
  }
}
.avatar-3QF_VA {
  top: -156px;
  &:before {
    width: 40px;
    height: 40px;
    top: 80px;
    left: 79px;
  }
}
.avatarPositionPremium-3We5Ho,
.avatarUploader-2UF9NL,
.avatar-1uQSZT {
  top: 16px;
}
.headerText-1vVs-U {
  flex-grow: 1;
}
.profileBadges-ohc0Vu {
  position: relative;
  right: 0;
  max-width: unset;
  top: 0;
  padding-left: 8px;
  flex-wrap: nowrap;
}
.avatar-1uQSZT {
  margin: 7px;
  + div {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    height: 32px;
    flex-grow: 1;
    justify-content: space-between;
  }
}
.headerTagWithNickname-1U8zZH {
  margin-top: 0.2rem !important;
}
.customStatus-3XAoF9 {
  margin-top: 0.1rem !important;
}
.userInfo-iCloHO {
  padding-left: 32px;
  .container-q03LZO {
    margin-right: 8px;
  }
}
.background-1QDuV2 {
  margin-top: 0;
  padding-top: 0;
}
.headerTop-1PNKck {
  display: flex;
  justify-content: flex-end;
  top: 4px;
}
.nameTag-2Nlmsy {
  margin: 24px 290px 24px 24px;
}
.top-K_jibn {
  .item-3XjbnG {
    border-bottom: unset;
    &.selected-g-kMVV {
      border-bottom: 2px solid var(--interactive-active);
    }
  }
}

// Popout
.footer-3naVBw {
  display: var(--message);
}
.bodyInnerWrapper-2bQs1k > .bodyTitle-2Az3VQ.base-21yXnu.size12-oc4dx4.muted-eZM05q.uppercase-2unHJn,
.bodyTitle-2Az3VQ.base-21yXnu.size12-oc4dx4.muted-eZM05q.uppercase-2unHJn:nth-of-type(2n+2),
.note-Go5ZP2 textarea,
.note-Go5ZP2,
.userInfoSection-2u2hir:first-of-type > .note-3M15gE,
.userInfoSection-2u2hir > .userInfoSectionHeader-2mYYun:last-of-type,
.bodyTitle-2Az3VQ.fontDisplay-3Gtuks.uppercase-2unHJn {
  display: var(--notes);
}
.userPopout-xaxa6l {
  @include border-radius('all', 'large');
  border: 1px solid #{$color-border};
}
.tabBar-2hXqzU {
  &.top-K_jibn {
    justify-content: space-around;
  }
}
.profileBanner-33-uE1 {
  height: 176px;
}
.popoutBanner-19WKGg,
.bannerNormal-3u-o59,
.bannerUploaderInnerSquare-1ddxpx {
  height: 122px;
}
.settingsBanner-15-pZk {
  height: 140px;
}
.aboutMeSection---MkQa,
.headerTop-1PNKck {
  padding-top: 16px;
}
.body-3HBlXn {
  padding: 8px 8px 0 16px;
}
.header-4zuFdR,
.customStatusActivity-nmH3DF {
  margin-left: 8px;
}
.userPopout-xaxa6l .customStatus-oN4ZZY,
.userPopout-xaxa6l .aboutMeSection-1Fw5Ia {
  padding: 0 12px 12px 0;
}
.userInfoSection-q_35fn {
  padding: 0;
  &:nth-child(2) {
    padding-bottom: 16px;
  }
}
.banner-1YaD3N {
  &.profileBannerPremium-KD60EB.bannerPremium-kkSkPv,
  &.profileBanner-1owKI5 {
    height: 220px;
  }
}

// Activity buttons

// Spotify activity
.activityUserPopout-2MzGCj {
  > .buttonsWrapper-2ARRp1 > button {
    background-color: #{$color-hover--lighter};
    @include border-radius('all', 'medium');
    &:hover {
      background-color: #{$color-hover--lighter};
    }
  }
}
.assetsLargeImageSpotify-17ME3M {
  @include border-radius('all', 'medium');
}

// Connected Accounts
.infoScroller-1QMpon.thin-31rlnD.scrollerBase-_bVAAt {
  padding: 0 20px !important;
}
.connectedAccounts-1YaT2t > div {
  background-color: var(--background-primary);
  @include border-radius('all', 'medium');
  padding: 6px 10px;
}

// Green message button
.actionButton-iarQTd {
  &.button-f2h6uQ {
    &.lookFilled-yCfaCM {
      &.colorGreen-3y-Z79 {
        background-color: #{$color-green} !important;
        > div {
          color: var(--text-dark);
        }
        &:hover {
          @include box-shadow($color-green--lighter, 'small', 0.8);
          background-color: #{$color-green--lighter} !important;
        }
      }
    }
  }
}

// Server profile roles | thanks to Bowser65#1337
.rolesList-3uZoaa {
  margin-bottom: 8px !important;
}
.role-2TIOKu {
  position: relative;
  overflow: hidden;
  border-radius: 11px;
}
.roleCircle-1EgnFN {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    opacity: 0.2;
    pointer-events: none;
  }
}
.footer-1fjuF6 {
  border-top: none;
}

// Call interface

// Header
.wrapper-1gVUIN {
  &.minimum-fXpVNc {
    background-color: var(--background-tertiary) !important;
  }
}
.container-2x5lvQ section {
  @include border-radius('all', 'large');
  background-color: var(--background-tertiary) !important;
  border: 1px solid #{$color-border};
}

// remove gradients
.videoControls-353CsJ > .gradientContainer-phMG8d {
  display: none !important;
}
.activityPanel-28dQGo {
  margin-left: 2px;
}
.list-2luk8a .content-1Wq3SX {
  margin-right: 10px;
  @include border-radius('all', 'medium');
}
.bottomControls-31YuPK > :last-child > div > button {
  padding: 16px;
  background-color: var(--button-background);
  border-radius: 50px;
}
.bottomControls-31YuPK > :last-child > div:last-child > button {
  margin-right: 16px;
}
.avatarSpeaking-2pCGrZ,
.avatarSpeaking-33RRJU,
.border-2Vy6FN.speaking-7QZEkv,
.border-2BJQjd.speaking-3RWJBr,
.avatar-2EVtgZ.speaking-3K28iH {
  box-shadow: inset 0 0 0 2px #{$color-accent}, inset 0 0 0 3px var(--background-secondary);
}

// In-call action buttons
.wrapper-3t3Yqv {
  > div > div > div > button {
    border-radius: 4rem !important;
    background: #{$color-red} !important;
    &.red-3T8maV {
      > div > svg {
        color: var(--text-dark) !important;
      }
      &:hover {
        background: #{$color-red--lighter} !important;
        > div > svg {
          color: var(--text-dark) !important;
        }
      }
    }
  }
  > div > div > div > div > button {
    border-radius: 4rem !important;
    background: var(--background-primary) !important;
    &:hover {
      background: #{$color-hover--lighter} !important;
    }
  }
  > .controlButton-2PMNom {
    &,
    > div:not(.unmasked-3zpww7) {
      background: transparent;
    }
    &,
    > svg,
    > svg > foreignObject,
    > svg > foreignObject > div,
    > svg > foreignObject > div > button {
      overflow: visible;
    }
    > svg > foreignObject > div > button {
      border-radius: 4rem !important;
      background: var(--background-primary) !important;
      > div > svg {
        color: var(--text-normal) !important;
      }
      &:hover {
        > div > svg {
          color: var(--text-normal) !important;
        }
        background: #{$color-hover--lighter} !important;
      }
    }
  }
}

// STAGES
.tile-2naSqK,
.tileContainer-BaRAZF {
  @include border-radius('all', 'large');
}
.scroller-1SuHJo,
.root-217Brm,
.container-ZMc96U {
  background-color: var(--background-tertiary) !important;
}
.rowContainer-2tYerQ {
  margin-bottom: 0;
  padding-bottom: 8px;
}
.container-2t1JyW {
  padding-top: 48px;
  margin-top: 48px;
}
.tileContainer-BaRAZF {
  margin: 0 5px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: var(--background-modifier-hover);
  }
}
.participants-soO0aD {
  margin-bottom: 10px;
}
.border-3dQmSY {
  &.speaking-WDn8Wm {
    box-shadow: inset 0 0 0 2px #{$color-accent}, inset 0 0 0 3px #{$color-accent} !important;
  }
}
.leaveQuietlyButton-1yMc0b {
  border-radius: 28px !important;
}
.iconLive-AtZKgD {
  color: var(--text-normal) !important;
}
.connected-2MF1ew {
  border-color: #{$color-accent};
}

// Misc border radius'
.container-cMG81i,
.attendeeCTA-3ZZQWt,
.input-cIJ7To,
.item-26Dhrx,
.powercord-entities-manage-tabs,
.powercord-account,
.activeGame-14JI7o,
.formNotice-2_hHWR,
.css-118dehu-control,
.previewContainer-37c2Si,
.auditLog-2ph_aK,
.background-1QDuV2,
.roleRow-30TwGe,
.bd-addon-card,
.membershipDialogHouse2-35h9SY,
.codeRedemptionRedirect-1wVR4b,
.card-o7rAq-,
.enableContainer-2DIT9Q,
.accountList-33MS45,
.container-_phMUq,
.feature-2w65J5,
.details-1YZMDP > div,
.preview-2Vkbi6,
.profileBannerPreview-3FLQKD,
.card-FDVird:before,
.card-3IImnr,
.card-11DMwv,
.previewContainer-1SS3uO,
.error-20ZZpF,
.warning-3C2pOH,
.membershipDialog-rVL-t_,
.videoWrapper-3YdgHH,
.background-2hs1sP,
.box-J4N4jE,
.info-1Vr1AV,
.bannerUpsellContainer-1q83km,
.avatarUploaderInnerSquare-1VbIoAin {
  @include border-radius('all', 'large');

  // border-radius: var(--border-radius-1) !important;
}

// Misc secondary background
.avatarUploaderInner-3UNxY3:not(.bannerUploaderInnerSquare-1ddxpx),
.codeRedemptionRedirect-1wVR4b,
.auditLog-2ph_aK,
.card-o7rAq-,
.activeGame-14JI7o,
.cardPrimary-1Hv-to,
.card-3AyPWq,
.profileBackgroundPreview-3BVL0Q,
.profileBannerPreview-3FLQKD .avatar-2PN2-j,
.card-3IImnr,
.card-11DMwv,
.notEnoughMembersError-1KwJkE,
.accountProfileCard-1XCH88,
.info-1Vr1AV {
  background-color: $color-background-secondary !important;

  // background-color: var(--background-secondary) !important;
}

// CONTROLS

// SLIDERS
.barFill-23-gu- {
  background: var(--background-modifier-selected);
}
.bar-2Qqk5Z {
  background: var(--background-primary) !important;
}
.grabber-3mFHz2 {
  width: 24px;
  border-radius: 50px;
  border: 2.5px solid;
  margin-left: -11px;
  background-color: var(--background-primary);
  border-color: var(--background-modifier-selected);
}

// SWITCHES
.container-2nx-BQ:not([style*='218']),
.bd-switch-checked .bd-switch-body {
  background-color: var(--background-modifier-selected) !important;
}
.container-2nx-BQ,
.bd-switch-body {
  background-color: #{$color-hover--darker} !important;
}
svg.slider-TkfMQL svg,
.bd-switch-slider > svg {
  display: none;
}
.container-2nx-BQ > svg > rect,
.bd-switch-handle {
  fill: var(--interactive-selected);
}
.container-2nx-BQ > svg > svg > path {
  fill: transparent !important;
}

// CHECKBOXES
.checkboxElement-1qV33p:checked + span,
.checked-3_4uQ9 .checkbox-1ix_J3 {
  background-color: #{$color-accent} !important;
  border-color: #{$color-accent} !important;
}
.checkbox-1ix_J3 {
  background-color: #{$color-hover--darker};
  border: none;
  border-radius: 6px;
}
.checkboxElement-1qV33p {
  &:checked {
    + span {
      &:after {
        border-color: var(--interactive-selected) !important;
      }
    }
  }
}
.checked-3_4uQ9 .checkbox-1ix_J3 > svg > path,
.check-1JyqgN {
  fill: var(--interactive-selected);
}
.checked-3_4uQ9 {
  .checkbox-1ix_J3 {
    > svg > path {
      d: path('m 15.466774,2.0213696 c -0.292825,0.06328 -0.562681,0.2281415 -0.752534,0.4598818 L 6.3109468,12.09696 3.3008117,9.0868255 C 2.7973432,8.5832902 1.8811117,8.5832633 1.377603,9.0867586 0.87410779,9.5902673 0.87413455,10.506499 1.3776699,11.009967 L 5.3911832,15.023481 6.4363691,16.026859 7.3561325,14.939866 16.720998,4.2371636 C 17.480113,3.410741 16.566036,1.795877 15.466774,2.0213696 Z');
      transform: scale(1.4);
    }
  }
}

// MENUS / DROPDOWNS / INPUTS
.select-1Ia3hD.lookFilled-1GseHa,
.inputDefault-3FGxgL.input-2g-os5:not(.searchInput-3NGPfp) {
  background-color: var(--background-quaternary);
  @include border-radius('all', 'medium');
}
.select-1Ia3hD.open-1FRZsK.lookFilled-1GseHa {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.popout-1KHNAq {
  border-bottom-left-radius: var(--border-radius-2);
  border-bottom-right-radius: var(--border-radius-2);
  &,
  > .option-2eIyOn {
    background-color: var(--background-quaternary);
  }
  > .option-2eIyOn {
    &:hover {
      background-color: #{$color-hover--lighter};
    }
  }
}
.option-2eIyOn {
  &[aria-selected='true'] {
    &:not(.option-2eIyOn.multi-1HXDiv) {
      &,
      > .selectedIcon-19TbzU > circle {
        color: var(--text-dark);
        fill: var(--text-dark);
      }
    }
  }
}
.menu-3sdvDG,
.quickSelectPopout-X1hvgV,
.bd-select-options,
.css-3vaxre-menu,
.phoneFieldPopout-7PzjOO,
.addGamePopout-2RY8Ju,
.recentMentionsPopout-3rCiI6,
.languageSelector-2LVJrh,
.container-3XJ8ns {
  border-radius: var(--border-radius-1) !important;
  border: 1px solid #{$color-border} !important;
}
.css-3vaxre-menu,
.phoneFieldPopout-7PzjOO,
.addGamePopout-2RY8Ju {
  background-color: var(--background-secondary) !important;
}
.labelContainer-1BLJti,
.item-1tOPte,
.item-2J2GlB,
.friend-3KALPe {
  @include border-radius('all', 'medium');
}
.button-1ZiXG9.selected-LCBEAU > svg,
.languageSelector-2LVJrh .selected-2114Fj,
.languageSelector-2LVJrh .selected-2114Fj:hover {
  color: var(--interactive-selected);
}
.languageSelector-2LVJrh .selected-2114Fj:hover {
  background-color: var(--background-modifier-selected);
}
.quickSelectPopoutOption-opKBx9,
.bd-select .bd-select-option {
  margin: 8px;
  @include border-radius('all', 'medium');
}
.css-1yz4bi9-option,
.css-rzbxvl-option,
.css-1ba14n5-option {
  margin: 8px !important;
  width: auto;
  @include border-radius('all', 'medium');
}
.colorBrand-3cPPsm {
  color: var(--interactive-normal);
}
.colorDefault-CDqZdO.focused-3afm-j,
.item-2J2GlB:hover {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
}
.colorDefault-CDqZdO:active {
  background-color: var(--background-modifier-active) !important;
}

// Bar / Container backgrounds
.radioBar-3w9XY-,
.container-3EtAkD {
  background-color: #{$color-hover} !important;
  @include border-radius('all', 'medium');
}
.horizontal-1Piu5-.itemFilled-1cPbtg {
  @include border-radius('all', 'medium');
}

// Dropdowns
.menu-1QACrS,
.scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt {
  background-color: var(--background-quaternary);
  @include border-radius('all', 'large');
}
.select-2TCrqx > div,
.bd-select,
.select-2TCrqx > div > div {
  @include border-radius('all', 'large');
  background-color: var(--background-secondary);
  border-color: var(--background-secondary) !important;
}
.select-2TCrqx {
  div {
    &[class$='option'],
    &[class$='singleValue'] {
      color: var(--text-normal);
    }
  }
}

// BUTTONS
button {
  &[disabled] {
    &:hover {
      box-shadow: initial !important;
    }
    &.lookFilled-yCfaCM {
      &.colorPrimary-2AuQVo {
        background-color: #{$color-background-primary};
      }
    }
  }
}

// S12 MODALS

// Tooltip Popups
div > .layer-2aCOJ3 > div > .tooltipPointer-3L49xb {
  border-top-color: var(--background-quaternary) !important;
}
div > .layer-2aCOJ3 > .tooltip-14MtrL {
  @include border-radius('all', 'medium');
  @include box-shadow($color-hover, 'medium', 1);
  background-color: var(--background-quaternary) !important;
}

// Voice channel popouts
.layer-2aCOJ3 > div > .popout-3Ue7-y {
  margin-left: 0;
}

// Menu / popup scrollers
.submenuContainer-3EVTeH {
  > .layer-2aCOJ3 {
    padding: 0 12px !important;
    > .submenuPaddingContainer-_k62dJ {
      padding: 0 !important;
    }
  }
}
.layerContainer-2v_Sit {
  > .layer-2aCOJ3 {
    > .animatorRight-xAUgTY {
      &.translate-PeW1wK {
        &.didRender-2SiRlm {
          margin-left: 8px;
        }
      }
    }
  }
}
.scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt > div > div.focused-3qFvc8,
.submenuContainer-3EVTeH > div.focused-3qFvc8,
.submenuContainer-3EVTeH > div > div > div > div > div.focused-3qFvc8,
.scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt > div.focused-3qFvc8 {
  background-color: #{$color-hover--lighter} !important;
}
.modalRoot-vB2FPC,
.modal-3Hrb0S.root-g14mjS,
.root-g14mjS,
.root-g14mjS > .footer-31IekZ {
  @include border-radius('all', 'large');
}
.option-3KoAJB {
  @include border-radius('all', 'large');
  margin: 8px;
  color: var(--text-normal) !important;
  > div {
    color: var(--text-normal);
  }
  &:hover {
    background-color: var(--background-tertiary);
    color: var(--text-normal);
  }
}
.sourceThumbnail-27dolk.selected-1nOkyc,
.tile-2w4k5N:hover .sourceThumbnail-27dolk {
  box-shadow: inset 0 0 0 2px #{$color-accent};
}
.item-3T2z1R {
  &:first-child {
    border-radius: var(--border-radius-2) 0 0 var(--border-radius-2);
  }
  :last-child {
    border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;
  }
}
.selectorButtonSelected-t5V9On {
  background-color: var(--background-modifier-selected);
}
.selectorTextSelected-1ymya_ {
  color: var(--interactive-selected);
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover,
.row-1ImlrZ:hover {
  background-color: var(--background-modifier-hover);
}
.addMemberRow-3-w-9X.selectedRow-1QP7qb {
  background-color: var(--background-modifier-hover);
}
.messageGroupWrapper-o-Zw7G {
  margin: 0 10px 10px 4px;
  background-color: var(--background-tertiary);
  @include border-radius('all', 'large');
}
.messageGroupCozy-2iY6cT,
.table-39R0Oe,
.formFieldWrapper-malor5,
.channel-3pEHab,
.video-1j0A3v,
.fileUpload-3UbVpG,
.authBox-hW6HRx,
.card-2X8BSG,
.container-2QXVMm,
.modalContent-1I0U-j {
  @include border-radius('all', 'large');
}
.header-ykumBX {
  box-shadow: none;
}
.channelHeader-3Gd2xq,
.header-1TKi98 {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
}
.messageContainer-gbhlwo,
.footer-2gL1pp {
  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
}
.container-3iAQ-0 .button-1-5Aqk,
.addMemberRow-3-w-9X {
  margin-right: 12px;
}
.exampleRule-32tIs5,
.row-1ImlrZ,
.addMemberRow-3-w-9X {
  @include border-radius('all', 'medium');
}
.tooltipBrand-g03Nz8 {
  border: 1px solid #{$color-border};
}
.added-2hLRj3:after {
  background-color: var(--text-positive);
}
.progress-YsDrV-:after {
  background-color: var(--text-warning);
}
.scroller-tlc3kG .channelHeader-3Gd2xq {
  margin: 0 16px;
}
.scroller-tlc3kG {
  padding: 0 16px 16px !important;
}
.channel-3pEHab {
  padding: 0;
  margin-bottom: 16px;
}
.modal-3c3bKg {
  --channeltextarea-background: var(--background-secondary);
}
.contentCircle-2uR76y,
.optionBox-1b4n4P,
.optionBox-1b4n4P:hover .contentCircle-2uR76y {
  border: none;
}
.contentCircle-2uR76y {
  transition: filter 150ms;
}
.optionBox-1b4n4P:hover .contentCircle-2uR76y {
  filter: brightness(0.5);
}
.stepContainer-7JROLx .progressBar-37uLmT {
  background-color: var(--brand-experiment);
}

// SHORTCUTS
.keyboardShortcutsModal-2CRmCm {
  background-color: var(--background-tertiary) !important;
  @include border-radius('all', 'large');
}
.keybindShortcut-3zF1P9 span {
  background-color: var(--background-primary);
  color: var(--text-normal) !important;
  box-shadow: none !important;
  border-color: var(--background-primary);
  padding: 4px 8px;
  height: auto;
}
.ddrArrows-24s05s {
  display: none;
}
.keybindDescription-oXh6w_ {
  color: var(--text-muted) !important;
}

// QUICK SWITCHER
.quickswitcher-3JagVE,
.scroller-zPkAnE {
  background-color: var(--background-tertiary) !important;
}
.quickswitcher-3JagVE {
  @include border-radius('all', 'large');
}
.quickswitcher-3JagVE .input-2VB9rf {
  box-shadow: none;
}
.quickswitcher-3JagVE .input-2VB9rf:focus {
  border: 1px solid #{$color-accent};
}
.quickswitcher-3JagVE .scroller-zPkAnE {
  margin-right: unset;
}
.resultFocused-3aIoYe .username-2hHyRL,
.resultFocused-3aIoYe .miscContainer-2ptJ_C {
  color: var(--interactive-selected);
}
.resultDefault-1ymv3u,
.resultFocused-3aIoYe {
  @include border-radius('all', 'medium');
}
.result-oB0z--[aria-selected='true'] {
  background: var(--background-modifier-hover);
}

// POPUPS

// Toasts
.powercord-toast {
  &,
  .header,
  .inner {
    background-color: var(--background-primary) !important;
  }
  &,
  .header {
    border-radius: var(--border-radius-1) !important;
    box-shadow: none !important;
  }
  .inner {
    border: none !important;
  }
}
.bg-8df5St {
  background-color: var(--background-secondary);
  border: 1px solid #{$color-border};
}
.inner-6Fsw34 {
  color: var(--text-normal) !important;
}
.toast-g4bfgI {
  @include border-radius('all', 'large');
}

// Account Switcher
.animatedNode-zo4rIT {
  > .content-2hZxGK {
    &.thin-31rlnD {
      &.scrollerBase-_bVAAt {
        padding-right: 16px !important;
        padding-left: 16px !important;
        > .list-3-WAYB {
          @include border-radius('all', 'large');
        }
      }
    }
  }
}
.theme-dark .hintText-1gwhJG,
.hintText-1gwhJG {
  color: #{$color-green};
}

// S13 PLUGINS

// Misc
div.content-8jnR93 {
  background-color: #{$color-hover} !important;
  @include border-radius('all', 'medium');
}
.button-VcfFL2 {
  &.reload-pPToEK {
    &:hover {
      &,
      > svg {
        color: var(--text-secondary);
        background-color: transparent !important;
      }
    }
  }
  &.delete-U8uivi {
    &:hover {
      &,
      > svg {
        color: #{$color-red};
        background-color: transparent !important;
      }
    }
  }
}

// LOCKDOWN

// SPOTIFYCONTROLS
.container-6sXIoE {
  &.withTimeline-824fT_ {
    @include border-radius('all', 'large');
    @include box-shadow($color-hover, 'large', 1);
    background-color: var(--background-tertiary) !important;
    border-bottom: 0 !important;
    margin-bottom: 6px;
    padding: 10px 10px 4px !important;
    > div > .coverWrapper-YAplwJ {
      border-radius: var(--border-radius-2) !important;
    }
    > .inner-WRV6k5 > div > button:hover {
      background-color: transparent;
      color: var(--text-secondary) !important;
    }
    > .timeline-UWmgAx {
      > .bar-g2ZMIm {
        > .barFill-Dhkah7 {
          background: var(--text-normal);
        }
        > .grabber-7sd5f5 {
          display: none;
        }
      }
      &:hover {
        > .bar-g2ZMIm {
          > .barFill-Dhkah7 {
            background: #{$color-green};
          }
          > .grabber-7sd5f5 {
            display: unset;
          }
        }
      }
    }
  }
  &.maximized-vv2Wr0 {
    &.withTimeline-824fT_ {
      padding: 0 8px 10px !important;
      > div {
        > .coverWrapper-YAplwJ {
          border-radius: var(--border-radius-1) !important;
        }
      }
    }
  }
}

// Animations
.closeButton-1tv5uR:active,
.animatedContainer-1NSq4T,
.bannerImage-3KhIJ6 {
  transform: none !important;
}
.animating-rRxada {
  transform: scale(1) !important;
}

// Misc
.tabBarContainer-1s1u-z,
.userInfoSection-q_35fn + .userInfoSection-q_35fn {
  border-top: transparent;
}
.tabBody-2dgbAs:before,
.divider-3FBTu8,
.divider-q3P9HC,
.content-yTz4x3:before,
.chat-1cCjJ5:before,
.separator-XqIyoz,
.pc-connections .connectedAccounts-QlRa4m:empty:before,
.divider-ewBQKj,
.divider-JMvf_l {
  display: none !important;
}
.searchBar-3TnChZ,
.header-35u4WP,
.headerBarContainer-31FKNA,
.stickyHeaderElevated-I6QUOA {
  box-shadow: none;
}
.separator-2I32lJ {
  border-bottom: thin solid transparent;
}
.guildSeparator-33mFX6 {
  background-color: transparent;
}
.children-3xh0VB:after {
  background: transparent !important;
}
.scroller-2ZPeAD {
  border: none;
}
.highlight {
  background: var(--background-primary);
}
.item-26Dhrx[aria-checked='true'] .colorStandard-2KCXvj,
.resultFocused-3aIoYe .match-38WbBN,
.resultFocused-3aIoYe .iconContainer-3UxHn2 > svg {
  color: var(--interactive-selected);
}
.inputWrapper-31_8H8:not(.emojiAliasInput-3KxSFb),
.inputMini-2xQV9P,
.copyInputDefault-21sXtF,
.input-2VB9rf,
.select-2fjwPw,
.card-2Mz_4z {
  background-color: var(--background-secondary) !important;
  @include border-radius('all', 'large');
}
.wrapper-3D2qGf,
.container-2XeR5Z,
.root-1gCeng {
  @include border-radius('all', 'large');
}
.colorPickerCustom-2CWBn2 {
  background: var(--background-secondary) !important;
  border-color: #{$color-border} !important;
  padding: 10px;
  @include border-radius('all', 'large');
}
.hljs {
  &-comment,
  &-quote {
    color: var(--text-muted);
    opacity: 0.5;
  }
}
.noticeWrapper-8z511t .button-2DhvE9,
.notice-2X5hT5 .button-2PWmas {
  background-color: var(--button-background);
  border-color: var(--button-background);
  color: var(--text-normal) !important;
  &:hover {
    background-color: var(--button-background-hover);
    border-color: var(--button-background-hover);
  }
}

// Scrollbars
::-webkit-scrollbar {
  display: var(--scrollbars);
}
.theme-dark,
.theme-light {
  --scrollbar-auto-track: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-primary) !important;
}
.menu-3sdvDG ::-webkit-scrollbar {
  display: unset;
}

// Boost / Nitro
.perksModal-1pSu7w {
  background-color: var(--background-tertiary) !important;
}
.ctaBar-2nFzdG {
  @include border-radius('all', 'large');
  background-image: none !important;
}
.perk-2WeBWW,
:is(.tier-12tKuZ, .tier-3H4BXk, .tier-2pEkRl, .tier-2dzRPr) > div {
  background-color: var(--background-secondary) !important;
}
.tier {
  &Header---JJFb,
  &Header-rlkkJd,
  &Header-l2pbOh,
  &Header-3YAxb0 {
    @include border-radius('top', 'large');
  }
  &Body-16Chc9,
  &Body-x9kBBp,
  &Body-3aUxuc,
  &-2pEkRl > :last-child,
  &Body-3gjrjH {
    @include border-radius('bottom', 'large');
  }
  &MarkerLabelPlusIcon-1OS7E9 {
    color: #{$color-accent};
  }
  &MarkerLabelText-F_zS1F:not(.isAccomplished-2EpZfL):hover,
  &MarkerLabelText-F_zS1F:not(.isAccomplished-2EpZfL):hover > svg,
  &Unlocked-25K6Kv {
    color: var(--interactive-selected) !important;
  }
}
.iconWrapper-11Wvjn {
  background: var(--background-modifier-selected);
  color: var(--interactive-selected) !important;
}
.subscribeTooltipWrapper-1JoUuw,
.card-3AyPWq,
.banner-3Kac2g {
  @include border-radius('all', 'large');
}
.banner-3Kac2g {
  max-width: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.hero-EvfTTA {
  max-width: none;
}
.featurePremiumGuild-2KpCr6 {
  .featureImage-2L9kA0 {
    width: 184px;
    border-radius: 0 0 var(--border-radius-1) 0;
  }
}
.subscribeTooltipWrapper-1JoUuw {
  background-color: var(--background-tertiary);
  border: 1px solid #{$color-border};
}
.guild-Hq0WWA {
  @include border-radius('all', 'large');
}
.guildHeaderBackground-1G51bM {
  background-image: none !important;
}
.guildHeader-3nh5RK {
  background-color: var(--background-secondary);
}
.subscriptionDetails-1dUmjl {
  border: none;
}
.bannerBackgroundImage-1DMjWi {
  background-position: center;
}
.tierHeaderWithoutCardBody-39Er3Y {
  margin-bottom: 0;
}
.serverBoostTabItem-3vujbv {
  .icon-21VyCF {
    display: none;
  }
}

// LOGIN MODAL
.authBoxExpanded-AN2aH1 {
  &.authBox-1HR6Ha {
    background-color: var(--background-tertiary) !important;
    border-radius: var(--border-radius-1) !important;
  }
}
