// Attached Bars
.popout_5155 > .channelTextArea-1FufC0.channelTextArea-1VQBuV,
.attachedBars-2BCP3l > div > .clipContainer-31nYlH,
.clipContainer-31nYlH.container-A2jo65 {
  background-color: transparent;
}
.clipContainer-31nYlH {
  > div,
  > div > div {
    overflow: visible;
  }
  > .container-A2jo65 {
    @include box-shadow($color-accent, 'small', 1);
  }
}
.replyBar-1oi75v {
  background-color: #{$color-accent};
  > div > div,
  > div > div > span,
  > .actions-1mkm4H > div[aria-checked='false'] > .mentionButton-3C5YMI {
    color: var(--text-dark) !important;
  }
  > .actions-1mkm4H {
    > div {
      > svg > path {
        fill: var(--text-dark) !important;
      }
      &[aria-checked='true'] > .mentionButton-3C5YMI {
        color: #{$color-blue} !important;
      }
    }
  }
}
.sansAttachButton-td2irx {
  padding-right: 16px;
}
.form-2fGMdU {
  padding: 0 24px;
}
.sprite-2iCowe {
  filter: none !important;
  transform: none !important;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' id='twemoji-1f600-mono'%3E%3Cdefs/%3E%3Cpath id='circle2' style='fill:%23bde6fb;fill-opacity:1' d='M 17.910156 0 A 18 18 0 0 0 0 18 A 18 18 0 0 0 18 36 A 18 18 0 0 0 36 18 A 18 18 0 0 0 18 0 A 18 18 0 0 0 17.910156 0 z M 12 10 A 2.5 3.5 0 0 1 14.5 13.5 A 2.5 3.5 0 0 1 12 17 A 2.5 3.5 0 0 1 9.5 13.5 A 2.5 3.5 0 0 1 12 10 z M 24 10 A 2.5 3.5 0 0 1 26.5 13.5 A 2.5 3.5 0 0 1 24 17 A 2.5 3.5 0 0 1 21.5 13.5 A 2.5 3.5 0 0 1 24 10 z M 8.71875 19.966797 C 8.8198535 19.971846 8.915125 19.983625 9 20 C 11.973 20.578 14.377 21 18 21 C 21.623 21 24.027 20.578 27 20 C 27.679 19.868 29 20 29 22 C 29 26 24.404 31 18 31 C 11.595 31 7 26 7 22 C 7 20.25 8.0110254 19.931455 8.71875 19.966797 z M 9 22 C 9 22 11 26 18 26 C 25 26 27 22 27 22 C 27 22 24 23 18 23 C 12 23 9 22 9 22 z ' /%3E%3C/svg%3E");
  background: var(--interactive-normal);
  background-image: none !important;
}

// Jump to present bar
.jumpToPresentBar-1cEnH0.barBase-3xxDXu {
  background-color: #{$color-accent};
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
  transform: translateY(-60px);
  @include box-shadow($color-accent, 'small', 1);
  padding-bottom: 4px;
  padding-top: 4px;
  > button,
  > button > svg > path {
    color: var(--text-dark);
    fill: var(--text-dark);
  }
}
.input-2A_zIr {
  padding: 0 8px;
}
.messagesErrorBar-nyJGU7 {
  background-color: var(--button-destructive);
}

// New messages indicator
div[id='---new-messages-bar'] {
  &,
  > span > svg > path {
    color: #{$color-accent} !important;
    fill: #{$color-accent} !important;
    border-color: #{$color-accent} !important;
  }
  > span {
    color: var(--text-dark);
    background-color: #{$color-accent};
  }
  > .content-3spvdd {
    color: var(--text-dark);
  }
}
.messagesWrapper-RpOMA3 {
  overflow: hidden;
  @include border-radius('all', 'large');
}
.newMessagesBar-1hF-9G {
  background-color: #{$color-accent} !important;
  @include box-shadow($color-accent, 'small', 1);
  > button {
    color: var(--text-dark);
  }
}
