// Message Form
.form-3gdLxP {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transform: translateY(8px);
  &:before {
    display: none;
  }
  > div {
    @include box-shadow($color-hover, 'large', 0.6);
    pointer-events: all;
  }
  > div,
  > div > div,
  > div > div > div,
  > div > div > div > div {
    border-radius: var(--border-radius-1) !important;
  }
}
.scrollerInner-2PPAp2 > .scrollerSpacer-3AqkT9 {
  padding-bottom: 56px;
}

// Emoji/sticker buttons
.buttonContainer-28fw2U {
  > button > div > div {
    color: var(--text-normal);
  }
  &:hover {
    > button {
      > div > div {
        color: #{$color-accent};
      }
      &[aria-label='Select emoji'] > div > div {
        color: #{$color-accent};
        background: #{$color-accent};
      }
    }
  }
}

// Send button / bar buttons
.buttons-uaqb-5 {
  padding-right: 10px;
  margin-right: 0 !important;
  > .separator-3ng7S5 > .buttonContainer-6W2Ep3 > button[disabled] > div > div > svg > path,
  .buttonWrapper-3YFQGJ.buttonChild-33lB5F.disabled-3wvGkX {
    fill: var(--text-secondary) !important;
  }

  // Hide gif/sticker buttons in message bar
  > .buttonContainer-2lnNiN {
    &:nth-of-type(3n+1),
    &:nth-of-type(3n+2) {
      display: var(--gif-sticker-buttons);
    }
  }
}
div > .activeButtonChild-2hgLAO > svg > path,
.buttons-uaqb-5 > .separator-3ng7S5 > .buttonContainer-6W2Ep3 > button > div > div > svg > path {
  fill: #{$color-accent} !important;
}
.navButton-2gQCx-.navItem-3Wp_oJ.button-f2h6uQ.lookBlank-3eh9lL.colorBrand-3cPPsm {
  background-color: var(--background-primary) !important;
  &:hover {
    background-color: #{$color-hover--lighter} !important;
    > div > div > div {
      color: #{$color-accent} !important;
    }
  }
  &[aria-selected='true'] {
    background-color: #{$color-hover--darker} !important;
  }
}

// Upload modal
.menu-1QACrS.styleFlexible-x0_sIC.menu-1dOGCq {
  @include box-shadow($color-hover, 'medium', 1);
  transform: translateY(-6px);
}

// Typing indicator
.typing-2J1mQU {
  transform: translateY(-2px);
  box-shadow: none !important;
  padding: 0 0.4rem;
}

// Upload button
.attachButton-2WznTc:hover > div > svg > path {
  fill: #{$color-accent} !important;
}

// EMOJI POPUP AUTOCOMPLETE
.autocomplete-3NRXG8 {
  &.autocomplete-3jLKbj {
    &.autocompleteAttached-bt_md- {
      transform: translateY(-10px);
    }
  }
}
.scroller-18M1mG {
  &.thin-31rlnD {
    &.scrollerBase-_bVAAt {
      background-color: var(--background-tertiary);
      > div > .base-2v-uc0.selectable-1MM9tu.selected-3H3-RC {
        background-color: #{$color-hover--lighter} !important;
      }
    }
  }
}

// STICKER POPUP AUTOCOMPLETE
.channelTextArea-1FufC0 {
  &.channelTextArea-1VQBuV {
    > .container-1ZA19X {
      background-color: var(--background-tertiary);
      transform: translateX(38px);
      @include box-shadow($color-hover, 'medium', 1);
      @include border-radius('all', 'large');
      > .containerBackground-Ang24O {
        display: none;
      }
    }

    // Attached bars
    > .attachedBars-2BCP3l {
      background-color: #{$color-accent};
      &,
      > div > .clipContainer-31nYlH {
        overflow: visible;
      }
    }
  }
}
