// Chat message
.message-2CShn3 {
  transition: background-color 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  &:hover,
  &.selected-2LX7Jy {

    // @include background-opacity($color-hover--darker, 0.8);
    background-color: #{$color-hover--darker};
  }

  // Action buttons
  .buttonContainer-1502pf {
    border: none;
    .buttons-3dF5Kd {
      border: none;
      overflow: visible;
      .wrapper-2vIMkT {
        @include border-radius('all', 'medium');
        @include box-shadow($color-hover, 'medium', 0.6);
        overflow: visible;
        border: none;
        .button-3bklZh {
          background-color: #{$color-background-tertiary};
          border: none;
          &:hover,
          &.selected-69H4ua {
            @include box-shadow($color-accent, 'small', 0.7);
            background-color: #{$color-accent};
            > svg {
              color: var(--text-dark) !important;
            }
          }
          &:first-of-type {
            @include border-radius('left', 'medium');
          }
          &:last-of-type {
            @include border-radius('right', 'medium');
          }
        }
        .separator-PzTEkx {
          display: none;
        }
        &:hover {
          @include box-shadow($color-hover, 'large', 0.8);
        }
      }
    }
  }
}
.chatContent-3KubbW {
  @include border-radius('all', 'medium');
  margin-right: 10px;
  margin-left: 0;
  background-color: #{$color-background-primary};
  overflow: hidden;
}
.embedFull-1HGV2S {
  border: none;
}
.embedMedia-1mdWSP,
.input-2A_zIr {
  @include border-radius('all', 'medium');
}
.grid-1nZz7S {
  padding: 0.5rem 1rem 1rem;
}

// Message reactions
.reactions-3ryImn {
  margin-top: 4px;
  .reaction-3vwAF2 {
    background-color: #{$color-hover--lighter};
    border-color: transparent;
    @include border-radius('all', 'medium');
    &.reactionMe-1PwQAc {
      @include background-opacity($color-accent, 0.4);
      border-color: transparent;
      &:hover {
        @include background-opacity($color-accent, 0.3);
      }
    }
    &:hover {
      @include background-opacity($color-accent, 0.2);
    }
  }
}

// Inline blocks / code / sys messages
[id^='message-accessories'] {
  padding-top: 6px;
}
.container-3i3IzO {
  &.systemMessageContainer-3F3V9U {
    background-color: $color-background-tertiary;
    @include border-radius('all', 'medium');
  }
}

// Inline code blocks
.markup-2BOw-j code {
  background-color: $color-background-tertiary;
  @include border-radius('all', 'medium');
}
code.inline {
  background-color: $color-background-tertiary;
}
.attachmentContentItem-UKeiCx {
  .footer-GXWBBp {
    @include border-radius('bottom', 'medium');
    background-color: $color-background-tertiary;
    color: $color-text--soft;
    .downloadSection-20OayS {
      color: $color-text--soft;
    }
  }
  .textContainer-36wgKK {
    @include border-radius('top', 'medium');
    background-color: $color-background-tertiary;
  }
}

// Inline datestamps
.timestamp-6-ptG3 {
  background-color: #{$color-hover};
}
.autocomplete-3l_oCd,
.autocomplete-1vrmpx {
  background-color: var(--background-tertiary);
  border: 1px solid #{$color-border};
  @include border-radius('all', 'large');
}
.autocomplete-1vrmpx .selected-3xBBKs,
.embedFull-1HGV2S {
  background-color: var(--background-tertiary);
}
.selected-1Tbx07 {
  background-color: var(--background-modifier-hover);
  @include border-radius('all', 'medium');
}
.categoryHeader-O1zU94 {
  background-color: var(--background-secondary);
}

// Mentions
.wrapper-3WhCwL {
  background: #bde6fb30 !important;
  color: #{$color-accent};
}
.mentioned-Tre-dv:before {
  background-color: #{$color-accent} !important;
}
.scroller-1-nKid,
.reactors-Blmlhw {
  padding-right: 8px !important;
  background-color: var(--background-tertiary) !important;
}
.remove-3V-yj8 {
  color: var(--settings-icon-color) !important;
  &:hover {
    background-color: transparent !important;
    color: var(--text-normal) !important;
  }
}
