// Search bar
.search-39IXmY {
  @include border-radius('all', 'large');
  margin: {
    top: 1px;
    right: 8px;
    bottom: -1px;
    left: 8px;
  }
  order: -1;
  padding: 5px 3px;
  background-color: $color-background-primary;
}
.search-2Mwzzq,
.searchBar-jGtisZ {
  background-color: transparent !important;
}
.DraftEditor-root {
  transform: translateY(-4px);
  .searchBar-jGtisZ[aria-expanded='true'] & {
    border-color: var(--background-modifier-selected);
  }
}
.searchBar-jGtisZ {
  background-color: transparent;
  height: 26px;
  width: 221px;
  &[aria-expanded='true'] {
    .icon-3cZ1F_,
    .icon-1nNws_:hover .icon-3cZ1F {
      color: var(--interactive-selected) !important;
    }
  }
  > .icon-1nNws_ {
    background-color: $color-background-primary;
    height: 36px;
    width: 36px;
    @include border-radius('all', 'large');
    > div > svg {
      color: $color-text--muted;
    }
  }
  &:hover > .icon-1nNws_ {
    background-color: $color-accent !important;
    > div > svg {
      color: $color-text--dark;
    }
  }
  .focused-1xh-wG &,
  .open-1F8u2c & {
    width: 221px !important;
  }
}
.public-DraftEditorPlaceholder-root {
  color: $color-white--darker !important;
  padding: {
    top: 6px !important;
    right: 4px !important;
    bottom: 4px !important;
    left: 6px !important;
  }
}
.DraftEditor-editorContainer {
  margin: 4px;
}
.searchFilter-2ESiM3 {
  background-color: var(--background-modifier-hover) !important;
}
.layer-2aCOJ3 {
  @include border-radius('all', 'large');

  // Search bar popup
  .container-2McqkF.elevationBorderHigh-3drnJX {
    @include border-radius('all', 'large');
    background-color: $color-background-tertiary;
    ul[role='group'] {
      background-color: $color-background-tertiary;
      .option-ayUoaq {
        @include border-radius('all', 'medium');
        &:after {
          background: linear-gradient(90deg, transparent, $color-background-tertiary 100%) !important;
        }
      }
    }
    .queryContainer-ZunrLZ {
      background-color: $color-background-quaternary;
    }
    .resultsGroup-cfY57t {
      @include border-radius('all', 'large');
    }
  }

  // Pinned messages popup
  > div[aria-modal='true'] {
    &,
    > .messagesPopoutWrap-3zryHW {
      @include border-radius('all', 'large');
    }
  }
}

// Search bar results panel
.searchResultsWrap-5RVOkx {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: transparent !important;
  > .scroller-3iiyhZ.thin-31rlnD.scrollerBase-_bVAAt {
    @include border-radius('all', 'large');
    background-color: $color-background-primary !important;
  }
}

// Pinned messages popup
.messagesPopoutWrap-3zryHW {
  > .messagesPopout-eVzQcI {
    &.thin-31rlnD {
      &.scrollerBase-_bVAAt {
        background-color: $color-background-tertiary !important;
      }
    }
  }
}
