// Maps
$shadow-size-map: (
    'default': 0 0 14px 0,
    'xsmall': 0 0 6px -4px,
    'small': 0 0 12px -2px,
    'medium': 0 0 14px 0,
    'large': 0 0 18px 0,
    'xlarge': 0 0 22px 0,
  );
$border-size-map: (
    'default': 8px,
    'small': 4px,
    'medium': 8px,
    'large': 14px,
    'round': 50%,
    'none': 0,
  );
$edge-map: (
    'top': ('top-left', 'top-right'),
    'right': ('top-right', 'bottom-right'),
    'bottom': ('bottom-left', 'bottom-right'),
    'left': ('top-left', 'bottom-left'),
    'top-left': 'top-left',
    'top-right': 'top-right',
    'bottom-left': 'bottom-left',
    'bottom-right': 'bottom-right',
  );
$icons-map: (
    'account': ('My Account-tab', 'MyAccount'),
    'profile': ('Profile & Customization-tab', 'Profile Customization-tab', 'ProfileCustomization'),
    'privacy': ('Privacy & Safety-tab', 'MODERATION-tab', 'Activity Privacy-tab', 'PrivacynSafety', 'ActivityPrivacy'),
    'apps': ('Authorized Apps-tab', 'AuthorizedApps'),
    'connections': ('Connections-tab', 'Connections', 'Passport', 'Sessions'),
    'subscriptions': ('Subscriptions-tab', 'Subscriptions'),
    'premium': ('Premium-tab'),
    'nitro': ('Discord Nitro-tab', 'DiscordNitro'),
    'boosts': ('Nitro Server Boost-tab', 'GUILD_PREMIUM-tab', 'NitroServerBoost'),
    'gift': ('Library Inventory-tab', 'LibraryInventory'),
    'billing': ('Billing-tab', 'Payment Flow Modals-tab', 'Billing', 'PaymentFlowModals'),
    'appearance': ('Appearance-tab', 'Appearance'),
    'accessibility': ('Accessibility-tab', 'Accessibility'),
    'voice': ('Voice & Video-tab', 'VoicenVideo'),
    'party': ('Powermode Settings-tab'),
    'text': ('Text & Images-tab', 'TextnImages'),
    'notifications': ('Notifications-tab', 'Notifications'),
    'keybinds': ('Keybinds-tab', 'Keybinds'),
    'language': ('Language-tab', 'Language'),
    'windows': ('Windows-tab', 'Windows', 'Linux'),
    'streamermode': ('Streamer Mode-tab', 'StreamerMode'),
    'advanced': ('Advanced-tab', 'Advanced'),
    'games': ('Game Activity-tab', 'GameActivity'),
    'overlay': ('Overlay-tab'),
    'changelog': ('ChangeLog-tab', 'Change Log-tab', 'changelog'),
    'hypesquad': ('Hypesquad Online-tab', 'HypesquadOnline'),
    'experiments': ('Experiments-tab', 'Experiments'),
    'developer': ('Developer Options-tab', 'DeveloperOptions'),
    'hotspots': ('Hotspot Options-tab', 'HotspotOptions'),
    'dismissable': ('Dismissible Content Options-tab', 'DismissibleContentOptions'),
    'pluginrepo': ('PluginRepo-tab'),
    'themerepo': ('ThemeRepo-tab'),
    'updatecheck': ('pc-updater-tab', 'updater-tab'),
    'betterdiscord': ('bdCompat-tab'),
    'logout': ('Logout-tab', 'logout'),
    'overview': ('OVERVIEW-tab', 'accountinfo-tab'),
    'roles': ('ROLES-tab', 'PERMISSIONS-tab'),
    'stickers': ('STICKERS-tab'),
    'automoderation': ('GUILD_AUTOMOD_MESSAGE_FILTER-tab'),
    'audit': ('AUDIT_LOG-tab', 'AUDIT_LOG_V2-tab'),
    'integrations': ('INTEGRATIONS-tab', 'status-tab'),
    'widgets': ('WIDGET-tab'),
    'template': ('GUILD_TEMPLATES-tab'),
    'vanityurl': ('VANITY_URL-tab'),
    'community': ('COMMUNITY-tab'),
    'voicetext': ('text_in_voice-tab'),
    'analytics': ('ANALYTICS-tab'),
    'partner': ('PARTNER-tab'),
    'rules': ('MEMBER_VERIFICATION-tab'),
    'discovery': ('DISCOVERY-tab'),
    'welcome': ('COMMUNITY_WELCOME-tab'),
    'threads': ('THREADS-tab'),
    'members': ('MEMBERS-tab'),
    'invites': ('INSTANT_INVITES-tab'),
    'bans': ('BANS-tab'),
    'delete': ('DELETE-tab'),
    'settings': ('bd-settings-tab', 'astra-settings-tab', 'pc-general-tab', 'lightcord-tab', 'core-tab', 'Settings-tab', 'nth-child(3)', 'AstraSettings', 'BdSettings', 'PcGeneral', 'Lightcord', 'Core', 'Settings'),
    'emotes': ('bd-emotes-tab', 'Emotes-tab', 'EMOJI-tab', 'nth-child(4)', 'Emotes', 'Emoji'),
    'custom': ('bd-customcss-tab', 'CustomCSS-tab', 'nth-child(7)', 'CustomCSS'),
    'plugins': ('bd-plugins-tab', 'Plugins-tab', 'pc-moduleManager-plugins-tab', 'nth-child(5)', 'Plugins'),
    'themes': ('bd-themes-tab', 'Themes-tab', 'pc-moduleManager-themes-tab', 'nth-child(6)', 'Themes'),
  );
