// Maps
$shadow-size-map: (
    'default': 0 0 14px 0,
    'xsmall': 0 0 6px -4px,
    'small': 0 0 12px -2px,
    'medium': 0 0 14px 0,
    'large': 0 0 18px 0,
    'xlarge': 0 0 22px 0,
  );
$border-size-map: (
    'default': 8px,
    'small': 4px,
    'medium': 8px,
    'large': 14px,
    'round': 50%,
    'none': 0,
  );
$edge-map: (
    'top': ('top-left', 'top-right'),
    'right': ('top-right', 'bottom-right'),
    'bottom': ('bottom-left', 'bottom-right'),
    'left': ('top-left', 'bottom-left'),
    'top-left': 'top-left',
    'top-right': 'top-right',
    'bottom-left': 'bottom-left',
    'bottom-right': 'bottom-right',
  );
$icons-map: (
    'account': ('My Account-tab'),
    'profile': ('Profile & Customization-tab'),
    'privacy': ('Privacy & Safety-tab', 'MODERATION-tab'),
    'apps': ('Authorized Apps-tab'),
    'connections': ('Connections-tab'),
    'subscriptions': ('Subscriptions-tab'),
    'premium': ('Premium-tab'),
    'nitro': ('Discord Nitro-tab'),
    'boosts': ('Nitro Server Boost-tab', 'GUILD_PREMIUM-tab'),
    'gift': ('Library Inventory-tab'),
    'billing': ('Billing-tab'),
    'appearance': ('Appearance-tab'),
    'accessibility': ('Accessibility-tab'),
    'voice': ('Voice & Video-tab'),
    'party': ('Powermode Settings-tab'),
    'text': ('Text & Images-tab'),
    'notifications': ('Notifications-tab'),
    'keybinds': ('Keybinds-tab'),
    'language': ('Language-tab'),
    'windows': ('Windows-tab'),
    'streamermode': ('Streamer Mode-tab'),
    'advanced': ('Advanced-tab'),
    'games': ('Game Activity-tab'),
    'overlay': ('Overlay-tab'),
    'changelog': ('ChangeLog-tab', 'Change Log-tab'),
    'hypesquad': ('Hypesquad Online-tab'),
    'experiments': ('Experiments-tab'),
    'developer': ('Developer Options-tab'),
    'hotspots': ('Hotspot Options-tab'),
    'dismissable': ('Dismissible Content Options-tab'),
    'pluginrepo': ('PluginRepo-tab'),
    'themerepo': ('ThemeRepo-tab'),
    'updatecheck': ('pc-updater-tab', 'updater-tab'),
    'betterdiscord': ('bdCompat-tab'),
    'logout': ('Logout-tab'),
    'overview': ('OVERVIEW-tab', 'accountinfo-tab'),
    'roles': ('ROLES-tab', 'PERMISSIONS-tab'),
    'stickers': ('STICKERS-tab'),
    'automoderation': ('GUILD_AUTOMOD_MESSAGE_FILTER-tab'),
    'audit': ('AUDIT_LOG-tab', 'AUDIT_LOG_V2-tab'),
    'integrations': ('INTEGRATIONS-tab', 'status-tab'),
    'widgets': ('WIDGET-tab'),
    'template': ('GUILD_TEMPLATES-tab'),
    'vanityurl': ('VANITY_URL-tab'),
    'community': ('COMMUNITY-tab'),
    'voicetext': ('text_in_voice-tab'),
    'analytics': ('ANALYTICS-tab'),
    'partner': ('PARTNER-tab'),
    'rules': ('MEMBER_VERIFICATION-tab'),
    'discovery': ('DISCOVERY-tab'),
    'welcome': ('COMMUNITY_WELCOME-tab'),
    'threads': ('THREADS-tab'),
    'members': ('MEMBERS-tab'),
    'invites': ('INSTANT_INVITES-tab'),
    'bans': ('BANS-tab'),
    'delete': ('DELETE-tab'),
    'settings': ('bd-settings-tab', 'astra-settings-tab', 'pc-general-tab', 'lightcord-tab', 'core-tab', 'Settings-tab', 'nth-child(3)'),
    'emotes': ('bd-emotes-tab', 'Emotes-tab', 'EMOJI-tab', 'nth-child(4)'),
    'custom': ('bd-customcss-tab', 'CustomCSS-tab', 'nth-child(7)'),
    'plugins': ('bd-plugins-tab', 'Plugins-tab', 'pc-moduleManager-plugins-tab', 'nth-child(5)'),
    'themes': ('bd-themes-tab', 'Themes-tab', 'pc-moduleManager-themes-tab', 'nth-child(6)'),
  );
