// Scrollers
.scroller-2MALzE {

  // Emoji server list
  &.list-obNEuP {
    > div[role='list'] > div {
      padding-top: 2px;
      &[data-list-item-id='NO_LIST___expression-guild-0'] {
        padding-bottom: 8px;
      }
    }
  }

  // Slash commands popup / autocomplete
  &.list-2u03C- {
    &.thin-31rlnD {
      &.scrollerBase-_bVAAt {
        &,
        .wrapper-1NNaWG.categoryHeader-OpJ1Ly,
        .selectable-1MM9tu {
          background-color: #{$color-background-tertiary};
        }
        .selectable-1MM9tu.selected-3H3-RC {
          background-color: #{$color-hover--lighter} !important;
        }
      }
    }
  }

  // Call UI spacing
  &.videoGrid-1tZm-F {
    &.thin-31rlnD {
      &.scrollerBase-_bVAAt {
        &.fade-1R6FHN {
          > .listItems-6eZzQ1 {
            padding-right: 8px !important;
          }
        }
      }
    }
  }

  // Menus / popup lists
  &.list-13gwFt {
    &.thin-31rlnD {
      &.scrollerBase-_bVAAt {
        > .listItems-6eZzQ1 {
          inset: 6px 8px 6px 8px !important;
        }
      }
    }
  }
}
.scroller-1bVxF5 {
  &.thin-31rlnD {
    &.scrollerBase-_bVAAt {
      padding: 6px 8px !important;
    }
  }
}

// Menu / popup scrollers
.submenuContainer-3EVTeH {
  > .layer-2aCOJ3 {
    padding: 0 12px !important;
    > .submenuPaddingContainer-_k62dJ {
      padding: 0 !important;
    }
  }
}
.layerContainer-2v_Sit {
  .layer-2aCOJ3 {
    > .menu-1QACrS.styleFlexible-x0_sIC {
      &,
      .submenu-1apzyU.menu-1QACrS {
        @include border-radius('all', 'medium');
        background-color: $color-background-tertiary;
      }
    }
    > .animatorRight-xAUgTY {
      &.translate-PeW1wK {
        &.didRender-2SiRlm {
          margin-left: 8px;
        }
      }
    }
  }
}
.scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt > div > div.focused-3qFvc8,
.submenuContainer-3EVTeH > div.focused-3qFvc8,
.submenuContainer-3EVTeH > div > div > div > div > div.focused-3qFvc8,
.scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt > div.focused-3qFvc8 {
  background-color: #{$color-hover--lighter} !important;
}
.modalRoot-vB2FPC,
.modal-3Hrb0S.root-g14mjS,
.root-g14mjS,
.root-g14mjS > .footer-31IekZ {
  @include border-radius('all', 'large');
}
.option-3KoAJB {
  @include border-radius('all', 'large');
  margin: 8px;
  color: var(--text-normal) !important;
  > div {
    color: var(--text-normal);
  }
  &:hover {
    background-color: var(--background-tertiary);
    color: var(--text-normal);
  }
}
