@import './home-pages/message-requests';

// Container styling
.content-1SgpWY {
  > .container-2cd8Mz {
    overflow: visible;
    max-width: calc(100% - 250px);
    .nowPlayingColumn-1eCBCN {
      @include border-radius('left', 'medium');
      @include border-radius('right', 'large');
      overflow: hidden;
      margin-left: $space-full;
      .scroller-hE2gWq {
        padding-left: 0 !important;
      }
    }
  }
  > .applicationStore-2nk7Lo {
    overflow: visible;
    max-width: calc(100% - 250px);
  }
}

// Friends page panel
.peopleColumn-1wMU14 {
  @include border-radius('all', 'medium');
  background-color: transparent;
  .title-x4dI75 {
    color: $color-white--darker;
    margin: {
      top: $unit-6;
      right: $unit-5 * 2;
      bottom: $unit-6 / 2;
      left: $unit-5 * 2;
    }
  }
  > div:nth-of-type(2) {
    background-color: var(--background-primary);
    @include border-radius('top', 'medium');
  }
  .peopleList-2VBrVI {
    border-top: 0;
    margin-top: 0;
    background-color: var(--background-primary);
    .peopleListItem-u6dGxF {
      @include border-radius('all', 'large');
      &:hover,
      &:focus {
        background-color: #{$color-hover};
      }
      .actionButton-3-B2x- {
        &.highlight-3DSi7b {
          background-color: #{$color-hover--lighter};
        }
        > svg,
        > svg > path {
          transition: none !important;
        }
        &:hover,
        &:active {
          &:nth-of-type(1) {
            @include box-shadow($color-green, 'small', 0.8);
            background-color: #{$color-green};
          }
          &:nth-of-type(2) {
            @include box-shadow($color-accent, 'small', 0.8);
            background-color: #{$color-accent};
          }
          color: var(--text-dark);
        }
      }
    }
  }
}
.chatContent-3KubbW,
.pageWrapper-1PgVDX,
.scroller-3X7KbA,
.stageSection-3mAD8V {
  @include border-radius('all', 'medium');
  background-color: $color-background-primary;
}
.scroller-1JbKMe {
  @include border-radius('top', 'large');
}
.scroller-RmtA4e {
  @include border-radius('top', 'large');
  background-color: $color-background-secondary;
}
.sidebar-1tnWFu {
  margin: {
    top: $space-full;
    right: $space-full;
  }
}
.chatContent-3KubbW,
.sidebar-1tnWFu,
.tabBody-2dgbAs,
.pageWrapper-1PgVDX,
.stageSection-3mAD8V,
.applicationStore-1pNvnv {
  margin-bottom: $space-full;
}
.scroller-1SuHJo {
  margin-right: $unit-5;
  margin-bottom: $unit-6;

  // Stages content
  .content-3YMskv {
    @include border-radius('all', 'large');
    background-color: $color-background-primary;
    padding: {
      top: 0;
      right: $unit-5;
      bottom: $unit-5;
      left: $unit-5;
    }
  }
}
.pageWrapper-1PgVDX,
.content-yTz4x3,
.applicationStore-1pNvnv {
  margin-right: $space-full;
}

// Friends search bar
.searchBar-2aylmZ {
  @include border-radius('all', 'medium');
  margin: {
    top: $space-0;
    right: $space-0;
    bottom: $space-full;
    left: $space-0;
  }
  background-color: $color-background-primary;
  overflow: visible;
}
.searchBar-2aylmZ > .inner-2pOSmK {
  padding: $unit-3;
  overflow: visible;
}
.searchBar-2aylmZ:hover > .inner-2pOSmk,
.searchBar-2aylmZ:focus > .inner-2pOSmk,
.searchBar-2aylmZ:focus-within > .inner-2pOSmk {
  @include box-shadow($color-accent, 'medium', 1);
}
.tabBody-2dgbAs {
  margin-right: $space-full;
  margin-top: $space-half;
}

// Friend activity scroller
.scroller-hE2gWq {
  border: none;
  margin: {
    left: $space-0;
  }
  padding: {
    left: $space-full;
    right: $space-0;
    top: $space-0;
  }
  > .header-Imy05m {
    display: none;
  }
  > .itemCard-3Etziu {
    .header-3jUeHi {
      .text-sm-normal-3Zj3Iv {
        color: $color-white--darker !important;
      }
    }
    .section-3G9aLW {
      @include box-shadow($color-hover, 'medium', 0.6);
      background-color: $color-background-tertiary;
    }
    &:hover,
    &:active,
    &.active-1W_Gl9,
    &.outer-2JOHae:hover,
    &.outer-2JOHae.active-1W_Gl9:hover {
      background-color: $color-hover--darker !important;
    }
  }
}
.wrapper-2RrXDg {
  border: none;
}

// Nitro / DM request pages
.homeWrapperNormal-bu1BS6.homeWrapper-L4ors0 {
  background-color: $color-background-tertiary;
}
.headerBar-1dSpQr.container-ZMc96U:before {
  display: none;
}
.applicationStore-2nk7Lo,
.container-2YMsb4 {
  overflow: visible;
  .scroller-3x0qvT,
  .scroller-29cQFV {
    &.auto-2K3UW5.scrollerBase-_bVAAt {
      @include border-radius('all', 'large');
      margin: {
        top: $space-half;
        right: $space-full;
        bottom: $space-full;
        left: $space-0;
      }
    }
  }
  > .tabBody-2YGSMJ {
    &:before {
      display: none;
    }
  }
}

// Grid items
.featureGrid-SSlfD0 > .feature-2IUcBI {
  background-color: var(--background-tertiary) !important;
}
