@import './forum/search';
@import './forum/post';
.container-3wLKDe {
  background-color: $color-background-tertiary;
  .list-3FIpnh {
    background-color: $color-background-tertiary;
  }
  .newPostsButton-UaBhcU {
    .newPostsButtonText-2WJdH8 {
      color: $color-text;
    }
  }
}
