// Top header bar
.content-1SgpWY {
  > .container-2YMsb4,
  > .container-2cd8Mz,
  > .chat-2ZfjoI {
    > .container-ZMc96U {
      &.themed-Hp1KC_,
      &.transparent-1lUmft {
        justify-content: flex-end;
        .children-3xh0VB {
          transform: translateX(-250px);
          > .textBadge-1fdDPJ.base-3IDx3L.baseShapeRound-3epLEv {
            background-color: $color-accent !important;
            color: $color-text--dark;
          }
        }
      }
    }
  }

  // Nitro page
  > .applicationStore-2nk7Lo {
    > .homeWrapperNormal-bu1BS6,
    > .homeWrapper-L4ors0 {
      > .container-ZMc96U {
        &.themed-Hp1KC_ {
          justify-content: flex-end;
          .children-3xh0VB {
            transform: translateX(-250px);
          }
        }
      }
    }
  }

  // Call UI
  .root-22AK9z {
    .topControls-23RE3h {
      .container-ZMc96U {
        &.themed-Hp1KC_,
        &.transparent-1lUmft {
          justify-content: flex-end;
          .children-3xh0VB {
            transform: translateX(-250px);
          }
        }
      }
    }
  }
}
